input(type="checkbox",id="toggle")


label(for="toggle",class="navmenu")
    p ☰



div.sidebar
    ul
        li: a(href="/") Hjem
        li: a(href="/arkivet/") Arkivet
        li: a(href="/om/") Om