section.latestpost
    .flex.flexcenter
        .col-2
            | {% for post in site.posts limit: 1 %}
            .post-sections
                section
                    h2 {{ post.title }}
                    p {{ post.date | date: "%b %d, %Y"}}
                    p.postdescription {{ post.description }}
                    | {{ post.excerpt }}
                    a(class="home-cta" href="{{ post.url }}") Les mer
                
            
            | {% endfor %}