---
layout: default
title: Heimstaden
description: "Velkommen til Heimstaden! Dette er bloggen som følger hagen min på Vestlandet året rundt, fra frø til blomst."
thumbnail: "Nordsiden crop.PNG"
google_site_verification: 8p9oQVJ8YXs_o9Ijgev7tFsCNsa28GsVpGqSDghwwFo
---

<div class="home-wrap">
    
    <div class="home-sections">
        
        {% include section-hero.html %}
        {% include section-articles.html %}
        {% include section-latestpost.html %}
        
        
    
    </div>
        
        
        
</div>