<footer class="home-footer home-sections"><div class="flex flexcenter"><div class="col-50 flex flexcenter"><div class="col-1"><h2>Kontakt</h2><li><script type="text/javascript">
                        var navn = "marianneheimstad";
                        var adresse = "gmail.com";
                    
document.write('<a href="mailto:'+navn + '@' + adresse+'">'+navn + '@' + adresse+'</a>');
                    </script></li><li><a href="{{site.baseurl}}/feed"><i class="fa fa-rss-square fa-2x"></i></a><a href="https://www.facebook.com/heimstaden/"><i class="fa fa-facebook-square fa-2x"></i></a>
</li><li><a href="http://www.thomasheimstad.com">Webmaster: Thomas Heimstad. Copyright &copy; 2016.</a></li></div></div><div class="col-50 contact order-first"><!-- i.fa.fa-facebook-official.fa-3x-->{% include facebooklike.html %}</div></div></footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js" type="text/javascript" async></script>
<script src="/assets/js/main.js" type="text/javascript" async></script>