.about
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    background: whitesmoke
    overflow: hidden

.about-content
    margin: 55px 0
    padding-left: 10px
    padding-right: 10px
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center