section.latestpost
    background: white
    min-height: 100vh
    height: 100%
    .flex.flexcenter
        .col-2
            margin: 24px 0 54px 0
            
            .home-cta
                color: $yellow
            .post-sections
                section
                    p.postdescription
                        font-style: italic
                        font-weight: 300
                        font-family: 'Raleway', sans-serif
                        
                        
                        
                        
    
@media(max-width: 640px)
    section.latestpost
        .flex.flexcenter
            .col-2
                margin: 24px 0